<ion-fab slot="fixed" horizontal="end" vertical="bottom">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button (click)="onAddTaskOpenForm()">
      <ion-icon name="documents-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="onAddCategoryOpenForm()">
      <ion-icon name="file-tray-full-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>


<ion-modal [isOpen]="isModalCategoryOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="onAddCategoryOpenForm()">Close</ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Add Category</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="onSaveCategory()" [strong]="true">Save</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <app-create-category-form></app-create-category-form>
    </ion-content>
  </ng-template>
</ion-modal>


<ion-modal [isOpen]="isModalTaskOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="onAddTaskOpenForm()">Close</ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Add Task</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="onSaveTask()" [strong]="true">Save</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <app-create-task-form></app-create-task-form>
      <ion-item>
        <ion-label position="stacked">Enter your name</ion-label>
        <ion-input label="Name" type="text" placeholder="Your name"></ion-input>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>
